{
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
}

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background: linear-gradient(to right, #344f75, #4b3475);
    }
.box {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 10px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box .round {
    position: absolute;
    border-radius: 50%;
    background: #fff;
    height: 50px;
    width: 50px;
    transform-origin: -90px;
    margin-left: 230px;
    animation: animate 3s linear infinite;
}
.box .round.big{
    transform-origin: -165px;
    margin-left: 410px;
    height: 80px;
    width: 80px;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
h1 {
    position: absolute;
    color: #fff;
    font-size: 80px;
    user-select: none;
}
h1 b {
    display: inline-block;
    animation: animateText 1s ease infinite;
    animation-delay: calc(var(--i)*0.2s);
}
@keyframes animateText {
    0%, 100% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(0px);
    }
}
.btn {
    padding: 10px 30px;
    border-radius: 22% 78% 41% 59% / 43% 73% 27% 57%;
    text-decoration: none;
    border: 3px solid #fff;
    background: #383475;
    color: #fff;
    font-size: 30px;
    margin-top: 120px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.btn:hover {
    border-radius: 9% 91% 12% 88% / 71% 24% 76% 29%;
}

















